numpy
black
plotly
pytest
pytest-cov
sphinx == 4.0.2
sphinx_rtd_theme
ipykernel
recommonmark
pytest-randomly
mypy
nbsphinx == 0.8.6
plotly
plotly-express
tqdm
reportlab == 3.6.6
xhtml2pdf
psutil
kaleido >= 0.1.0, <=0.1.0.post1
qutip
qiskit
matplotlib
pyquil
qulacs
joblib
cvxpy
cvxopt
Mosek