version: 2
workflows:
  version: 2
  test:
    jobs:
      - test-3.7
      - test-3.8
      - test-3.9
      - test-3.9-minimum_module
jobs:
  test-3.7:
    docker:
      - image: cimg/python:3.7
      - image: rigetti/quilc:1.25.1
        command: "-S"
        auth:
          username: $DOCKERHUB_USERNAME
          password: $DOCKERHUB_PASSWORD
      - image: rigetti/qvm:1.17.2
        command: "-S"
        auth:
          username: $DOCKERHUB_USERNAME
          password: $DOCKERHUB_PASSWORD
    steps:
      - checkout
      - run:
          name: Monitor RAM
          command: |
            while true; do
              sleep 5
              ps auxwwf
              echo "========="
            done
          background: true
      - run:
          name: Run installation
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install -r requirements-dev.txt
            pip install --upgrade pip
            python setup.py install
      - run:
          name: Run tests
          no_output_timeout: 20m
          command: |
            . venv/bin/activate
            pytest -rfs -m "not skipci and not threequbit and not twoqutrit and not qmpt_twoqubit and not qmpt_onequtrit and not cvxpy" --durations=0 --junit-xml=test-results/pytest.xml
      - store_test_results:
            path: test-results

  test-3.8:
    docker:
      - image: cimg/python:3.8
      - image: rigetti/quilc:1.25.1
        command: "-S"
        auth:
          username: $DOCKERHUB_USERNAME
          password: $DOCKERHUB_PASSWORD
      - image: rigetti/qvm:1.17.2
        command: "-S"
        auth:
          username: $DOCKERHUB_USERNAME
          password: $DOCKERHUB_PASSWORD
    steps:
      - checkout
      - run:
          name: Monitor RAM
          command: |
            while true; do
              sleep 5
              ps auxwwf
              echo "========="
            done
          background: true
      - run:
          name: Run installation
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install -r requirements-dev.txt
            pip install --upgrade pip
            python setup.py install
      - run:
          name: Run tests
          no_output_timeout: 20m
          command: |
            . venv/bin/activate
            pytest -rfs -m "not skipci and not threequbit and not twoqutrit and not qmpt_twoqubit and not qmpt_onequtrit and not cvxpy" --durations=0 --junit-xml=test-results/pytest.xml
      - store_test_results:
            path: test-results
  test-3.9:
    docker:
      - image: cimg/python:3.9
      - image: rigetti/quilc:1.25.1
        command: "-S"
        auth:
          username: $DOCKERHUB_USERNAME
          password: $DOCKERHUB_PASSWORD
      - image: rigetti/qvm:1.17.2
        command: "-S"
        auth:
          username: $DOCKERHUB_USERNAME
          password: $DOCKERHUB_PASSWORD
    steps:
      - checkout
      - run:
          name: Monitor RAM
          command: |
            while true; do
              sleep 5
              ps auxwwf
              echo "========="
            done
          background: true
      - run:
          name: Run installation
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install -r requirements-dev.txt
            pip install --upgrade pip
            python setup.py install
      - run:
          name: Run tests
          no_output_timeout: 20m
          command: |
            . venv/bin/activate
            pytest -rfs -m "not skipci and not threequbit and not twoqutrit and not qmpt_twoqubit and not qmpt_onequtrit and not cvxpy" --durations=0 --junit-xml=test-results/pytest.xml
      - store_test_results:
            path: test-results
  test-3.9-minimum_module:
    docker:
      - image: cimg/python:3.9
      - image: rigetti/quilc:1.25.1
        command: "-S"
        auth:
          username: $DOCKERHUB_USERNAME
          password: $DOCKERHUB_PASSWORD
      - image: rigetti/qvm:1.17.2
        command: "-S"
        auth:
          username: $DOCKERHUB_USERNAME
          password: $DOCKERHUB_PASSWORD
    steps:
      - checkout
      - run:
          name: Monitor RAM
          command: |
            while true; do
              sleep 5
              ps auxwwf
              echo "========="
            done
          background: true
      - run:
          name: Run installation
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install -r requirements.txt
            pip install --upgrade pip
            python setup.py install
      - run:
          name: Run tests
          no_output_timeout: 20m
          command: |
            . venv/bin/activate
            pytest -rfs -m "not skipci and not threequbit and not twoqutrit and not qmpt_twoqubit and not qmpt_onequtrit and not cvxpy" --durations=0 -o "norecursedirs=quara/interface" --junit-xml=test-results/pytest.xml
      - store_test_results:
            path: test-results
